.avatar {
    width:152px;
    height: 152px;
    border-radius: 50%;
}

.mainSection {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* body{
    
} */

footer {
    margin-left: 25%;
}

.navItem{
    padding: 25px;
    font-size: 20px;
   white-space: nowrap;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}

.person-avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}

.personal{
    text-align: center;
    color: inherit;
}

.person-content{
    margin-left: -40px;
    margin-right: -20px;
}

.person-subtitle{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.person-title {
 font-size: 22px;
 font-weight: 500;
}

.projectCard {
    display: flex;
    flex-direction: column;
    border: 4px double;
    /* padding: 20px; */
    margin: 20px 20px;
    border-color: rgba(95, 10, 112, 0.8); 
    height: inherit;
    width: inherit;
    /* margin: 20px; */
}

#pro1 {
    margin:0;
    background-image: url("https://centaur-wp.s3.eu-central-1.amazonaws.com/marketingweek/prod/content/uploads/2017/05/12103909/Coding-body-image-.jpg?auto=compress,format&q=60&w=750&h=460");
}
.project1 {
    margin: 20px 30px 20px 30px;
    width:100%;
    height: 400px;
    /* background-image: url("https://centaur-wp.s3.eu-central-1.amazonaws.com/marketingweek/prod/content/uploads/2017/05/12103909/Coding-body-image-.jpg?auto=compress,format&q=60&w=750&h=460"); */
}

/* played with grid containers/items but couldnt get it to flex when window shrank 

.grid-item {

    padding: 8px 10px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
     
 } */

#projectSec {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sectionTitle {
    font-size: 35px;
    font-weight: 300;
    color: rgba(95, 10, 112, 0.8);
    text-decoration: underline;
    text-decoration-color: rgba(95, 10, 112, 0.8);
   
}

.site-main {
    margin-left: 25%;
}

.start-sidebar {
    top:0;
    bottom:0;
    left:0;
    position:fixed;
    z-index:2;
    width:25%;
    font-size: 14px;
    color:#fff;
    text-align: left;
    background-color: rgba(95, 10, 112, 0.8);
    background-image: url(charlotte-panorama-north-carolina.jpg.jpg);
    background-size: cover;
  }

  .start-sidebar::before { 
     z-index: -5;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 25%;
    /* background: url(charlotte-panorama-north-carolina.jpg.jpg);
    background-size: cover; */
    background-color: rgba(95, 10, 112, 0.8);
}


.start-sidebar-inner {
    padding: 45px 40px;
}

.start-sidebar > * {
    z-index: 5;
}

/* @media screen and (max-width:900px) { */



    @media only screen and (max-width: 767px) {
    .avatar {
        width:150px;
        height: 150px;
    }

     .start-sidebar::before  {
        width: 100%;
        height: 237px;
        /* opacity: 30%; */
    }

    .site-main {
        margin-left: 0;
        margin-top: 237px;
    }

    .navItem {
        width: 20%;
        padding: 0px 20px;
    }

    .personal {
        display: flex;
        flex-direction: row;
    }

    .person-content {
        width: 75%;
    }
    .start-sidebar {
        width:100%;
        height:fit-content;
        justify-content:center;
        align-items: center;
        text-align: center;
    }

    .start-sidebar-inner {
        padding: 25px 20px;
       display: flex;
        flex-direction: column;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
    }
}