.avatar {
    width:152px;
    height: 152px;
    border-radius: 50%;
}

footer {
    margin-left: 25%;
}

.person-avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}

.personal{
    text-align: center;
    color: inherit;
}

.person-content{
    margin-left: -40px;
    margin-right: -20px;
}

.person-subtitle{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.person-title {
 font-size: 22px;
 font-weight: 500;
}

.site-main {
    margin-left: 25%;
}

.site-main::before {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 25%;
    background: url(charlotte-panorama-north-carolina.jpg.jpg);
    background-size: cover;

}

.start-sidebar {
  top:0;
  bottom:0;
  left:0;
  position:fixed;
  z-index:2;
  width:25%;
  font-size: 14px;
  color:#fff;
  text-align: left;
  background-color: rgba(95, 10, 112, 0.8);
  /* background-image: url(charlotte-panorama-north-carolina.jpg.jpg); */
}

.start-sidebar-inner {
    padding: 45px 40px;
}

/* @media screen and (max-width:900px) { */



    @media only screen and (max-width: 767px) {
    h2 {
        font-size: 20px;
    }
    .start-sidebar {
        width:100%;
    }

    nav {
        flex-direction: row;
    }
}